/* ---------- INICIO RESET ---------- */
html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

body {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
}

:root {
  --main-color: #0a2e38;
	--top: 5rem;
	--left: 10rem;
}
/* ---------- FIM RESET ----------
---------- INICIO MAIN ---------- */
header, section, form, fieldset div {  
	display: flex;
}

header {
	height: 10%;
	align-items: center;
	justify-content: center;

	color: #fff;
	font-size: 3.2rem;

	background-color: var(--main-color);
}

main {
	height: 80%;
}

footer {
	height: 10%;
	
	color: #fff;
	font-size: 3.2rem;

  background-color: var(--main-color);
}

section {
	width: 100%;	
	height: 100%;
}

section .sectionForm, section .sectionTable {
	width: 50%;
	height: 100%;
}

section .sectionForm {
	padding: var(--top) var(--left);
}

form, fieldset {
	width: 100%;
}

fieldset {
	padding: var(--top);
}

fieldset legend {
  margin-left: var(--left);

	font-size: 3.2rem;
	font-weight: bold;
}

fieldset div {
	justify-content: space-between;
	align-items: baseline;
}

fieldset div label {
	width: 25%;
	font-size: 1.8rem;
}

fieldset div input {
	width: 75%;
	text-align: left;
	padding: 0.1rem 1rem;
	margin: 0.5rem;
}

fieldset button {
	margin-top: var(--top);
	height: var(--top);
	width: var(--left);
}

/**/

table, th, tr, td {
	border: 0.1rem solid;
	border-collapse: collapse;
	text-align: center;
}

th, tr, td {
	min-width: 10rem
}