/* ---------- INICIO RESET ---------- */
html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #446e7a;
}

body {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
}

:root {
  --main-color: #0a2e38;
	--title-color: #00e76f;
	--text-color: #446e7a;
  --top: 3.5rem;
  --left: 7rem;
}
/* ---------- FIM RESET ----------*/
header {
	height: 15%;
}

main {
	height: 80%;
}

footer {
	height: 5%;
  background-color: var(--main-color);	

}
header div, main, form, fieldset div, .icons, #importContainer {  
	display: flex;
}

#headerTitle, footer div {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	
	padding: 0 var(--left);

	color: var(--title-color);
	font-size: 3.2rem;
	font-weight: bold;
}

#headerTitle {
	height: 50%;
	background-color: var(--main-color);
	border-bottom: 0.5rem solid var(--text-color)
}

#headerFooter {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
}

#sectionForm, #headerFooterDiv {
	width: 35%;
}

#sectionTable, #tableTitle {
	width: 65%;
}

#tableTitle {
	display: flex;
	justify-content: center;
	margin-right: var(--left);
  color: var(--text-color);
  font-size: 3.2rem;
  font-weight: bold;
	padding-bottom: var(--top);
}

fieldset {
	margin: 0 var(--left);
	padding: 0 var(--top);
}

fieldset legend {
  margin-left: var(--top);
  color: var(--text-color);
  font-size: 3.2rem;
  font-weight: bold;
}

fieldset div {
	justify-content: space-between;
	align-items: baseline;
}

fieldset div label {
	width: 35%;
	font-size: 1.8rem;
}

fieldset div input, textarea {
	width: 65%;
	text-align: left;
	padding: 0.1rem 1rem;
	margin: 0.5rem;
}

#importContainer {
	align-items: center;
}

textarea {
	height: 10rem;
	padding: 1rem;
	resize: none;
}

.botao {
	margin: var(--top);
	height: var(--top);
	width: 10rem;
	text-align: center;
	border-radius: 15%;
	background-color: var(--main-color);
	color: var(--title-color);
	font-size: 1.4rem;
	font-weight: bold;
}

.botao:hover {
  transition: ease-in-out;
  color: var(--main-color);
  background-color: var(--title-color);
}

.icons {
	align-items: baseline;
}

.botaoExcluir, .botaoEditar, #botaoFiltro, #botaoPesquisa, #botaoGo {
	height: 3rem;
	width: 3rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.botaoExcluir:hover, .botaoEditar:hover, #botaoFiltro:hover, #botaoPesquisa:hover, #botaoGo:hover {
	background-color: #00e76f;
}

.botaoExcluir {
	margin-left: 2rem;
	background-image: url(../img/trash.png);
}

#botaoPesquisa, #botaoGo {
	margin-left: 2rem;
  background-image: url('../img/search.svg');
}

.botaoEditar {
	background-image: url(../img/edit.png);
}

#botaoFiltro {
	background-image: url(../img/filter.svg);
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 var(--left);
}
th, td {
	border: 0.1rem solid;
	border-top: 0;
	text-align: center;
	padding: 2rem;
}

th {
  background-color: var(--main-color);
  color: var(--title-color);
  border-color: var(--text-color);
	position: sticky;
	top: 0;
}

#sectionTable {
	overflow: auto;
	height: 56.3rem;
}

/*


 */

 /* #sectionTable, #sectionForm {
	padding: var(--top) var(--top);
	overflow: auto;
} */


#inputPesquisa {
  height: 3rem;
  padding: 0 1rem;  
}

#inputPesquisa:focus {
	outline: none !important;
  border-color: #00e76f;
}

.janelas {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0a2e3866;
}

.janelaBox {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--main-color);
  width: 35%;
}

.close {
  color: #32145a;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #0a5838;
  text-decoration: none;
  cursor: pointer;
}