/* ---------- INICIO RESET ---------- */
html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #446e7a;
}

body {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
}

:root {
  --main-color: #0a2e38;
  --top: 5rem;
  --left: 10rem;
}
/* ---------- FIM RESET ----------
---------- INICIO MAIN ---------- */
header, header div, section, form, fieldset div, .icons {  
	display: flex;
}

header {
	height: 10%;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-color);
	border-bottom: 0.5rem solid #446e7a;
}

header div, footer div {
	margin: 0 var(--left);
	color: #00e76f;
	font-size: 3.2rem;
	font-weight: bold;
}

main {
	height: 85%;
}

footer {
	height: 5%;
  background-color: var(--main-color);	

}

section {
	width: 100%;	
	height: 100%;
}

section #sectionTable, section #sectionForm {
	height: 90%;
	padding: var(--top) var(--top);
	overflow: auto;
}

section #sectionTable {
	width: 60%;
	
}

section #sectionForm {	
	width: 40%;
}

form, fieldset {
	width: 100%;
}

fieldset {
	padding: var(--top);
}

fieldset legend {
  margin-left: var(--left);
  color: #446e7a;
  font-size: 3.2rem;
  font-weight: bold;
}

fieldset div {
	justify-content: space-between;
	align-items: baseline;
}

fieldset div label {
	width: 25%;
	font-size: 1.8rem;
}

fieldset div input {
	width: 75%;
	text-align: left;
	padding: 0.1rem 1rem;
	margin: 0.5rem;
}

table, th, tr, td {
	border: 0.1rem solid;
	border-collapse: collapse;
	text-align: center;	
}

th, td {
	padding: 2rem;
}

th {
  background-color: var(--main-color);
  color: #00e76f;
  border-color: #446e7a;
}

caption {
  margin-bottom: var(--top);
  font-size: 3.2rem;
  font-weight: bold;
  color: #446e7a
}

.botao {
	margin-top: var(--top);
	height: var(--top);
	width: var(--left);
	text-align: center;
	border-radius: 15%;
	background-color: var(--main-color);
	color: #00e76f;
	font-weight: bold;
}

.botao:hover {
  transition: ease-in-out;
  color: var(--main-color);
  background-color: #00e76f;
}

.icons {
	align-items: baseline;
}

.botaoExcluir:hover, .botaoEditar:hover, #botaoFiltro:hover, #botaoPesquisa:hover, #botaoGo:hover {
	background-color: #00e76f;
}

.botaoExcluir, .botaoEditar, #botaoFiltro, #botaoPesquisa, #botaoGo {
	height: 3rem;
	width: 3rem;
	border-radius: 15%;
	background-size: contain;
	background-repeat: no-repeat;
}

.botaoExcluir {
	margin-left: 2rem;
	background-image: url(../img/trash.png);
}

#botaoPesquisa, #botaoGo {
	margin-left: 2rem;
  background-image: url('../img/search.svg');
}

.botaoEditar {
	background-image: url(../img/edit.png);
}

#botaoFiltro {
	background-image: url(../img/filter.svg);
}


#inputPesquisa {
  height: 3rem;
  padding: 0 1rem;  
}

#inputPesquisa:focus {
	outline: none !important;
  border-color: #00e76f;
}

#pesquisar {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0a2e3866;
}

.pesquisado {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--main-color);
  width: 50%;
}

.close {
  color: #32145a;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0a5838;
  text-decoration: none;
  cursor: pointer;
}