/* ---------- INICIO RESET ---------- */
html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

:root {
  	--main-color: rgb(10, 46, 56);
	--top: 5rem;
	--left: 10rem;
}
/* ---------- FIM RESET ----------
---------- INICIO MAIN ---------- */
header {  
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 3.2rem;
	background-color: var(--main-color);
}

footer {
  background-color: var(--main-color);
}

section {
	display: flex;	
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: var(--left);
	margin-top: var(--top);
	width: 100%;
	max-width: calc(50% - var(--left));
}

fieldset legend {
  margin-left: var(--left);
	font-size: 3.2rem;
	font-weight: bold;
}

fieldset div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
}

input {
	width: 100%;
	height: var(--top);
  max-width: 85%;
  margin: calc(var(--top) / 2.5) var(--left) 0 0;
  padding: 0 1rem;
}

label {
	width: 100%;
	max-width: 15%;
	margin: 0 var(--left);
	font-size: 2.4rem;
}